@import '~antd/dist/antd.css';

.select-container {
  display: inline-grid;
  justify-content: center;
  align-items: center;

  margin: auto;

  height: 20rem;
  width: 100%;
}

.item-select {
  width: 17rem;
}
